{% extends 'index.html' %}
{% block title %}My from 2 page!{% endblock %}
{% block content %}
    <h1>404 Error Page</h1>
    <div class="jumbotron">
        <h1 class="display-4">Page Not Found!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>This page does not exist</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Go to our Homepage</a>
        </p>
      </div>
{% endblock %}