{% extends 'index.html' %}
{% block title %}My Forgot password page!{% endblock %}
{% block content %}
    <h1>This is Forgot password page</h1>
   

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <form method="POST" action="{%url 'changepassword' %}">
                    {% csrf_token %}
                    <ul>
                    <div class="form-group" >
                        <li><label for="exampleInputEmail1">Please Enter Your Email address</label></li>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted"></small>
                      </div>
                    <li><p>Answer security questions below to prove your identity</p></li>
                    <div class="form-group">
                        </li><label for="question1">what was the name of your first pet?</label>
                        <input type="text" class="form-control" id="question1" placeholder="Example input">
                      </div>
                      <div class="form-group">
                        <label for="question2">In which city your parents first met> </label>
                        <input type="text" class="form-control" id="question2" placeholder="Example input">
                      </div>
                    </ul>
                      <div class="form-group">
                      <button type="submit" class="btn btn-primary" style="margin: 0 auto;">Submit</button> 
                </form>

        
            </div>

        </div>
    </div>

    {% endblock %}